@import "../node_modules/tailwindcss/dist/lib.d.mts";

body {
    display: grid;
    place-items: center;
    background: white;
    color: black;
    font-family: system-ui;
}

#main-wrapper, #content-wrapper {
    width: 100%;
    height: 100%;
}
header {
    position: fixed;
    width: 100%;
}
footer {
    background-color: #747bff;
    height: 2%;
}

.content {
    background-color: darkolivegreen;
}

#logo-header {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

/*html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: white;
}

.wrapper{
    margin: auto;
    width: 700px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background: green;
}

.header{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1000px;
    background-color: #747bff;
    min-width: 150px;
    max-height: 800px;
    overflow: auto;
}

.game-cover {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}
/*
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}*/
